// スタイルリセット
p {
  margin: 0;
}

// clamp paddingルール
// iPhoneSE: 667 x 375
// WQHD: 1440 x 2560
// x: 375 ~ 2560
// y: 667 ~ 1440
// padding: 0 ~ 24px
// x軸を基準
$c-pa: clamp(0.5rem, 0.328rem + 0.73vw, 1.5rem);

// layout helpers
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

// gap utilities (grid/row)
.ga-c {
  gap: $c-pa;
}
.ga-0 {
  gap: 0;
}
.ga-2 {
  gap: 0.5rem;
}
.ga-4 {
  gap: 1rem;
}

.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

// spacing (padding / margin)
.pa-c {
  padding: $c-pa;
}
.pl-4 {
  padding-left: 1rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pa-0 {
  padding: 0;
}
.pa-2 {
  padding: 0.5rem;
}
.pa-4 {
  padding: 1rem;
}
.ma-0 {
  margin: 0;
}
.mt-5 {
  margin-top: 1.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.me-2 {
  margin-inline-end: 0.5rem;
}
.me-4 {
  margin-inline-end: 1rem;
}

// typography / color
.text-caption {
  font-size: 0.75rem;
  line-height: 1rem;
}
.primary--text {
  color: var(--v-theme-primary);
}
